@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>See  <a href="https://github.com/karim007/dotnet_core_jenkins_ansible_docker_template.git">This repository </a> to learn how to deploy this app</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
